@media only screen and (min-width: 1201px) {
	.cc-header {
		height: 60px;
	}
}

@media only screen and (max-width: 1200px) {
	.cc-header {
		height: 50px;
	}
}

@media only screen and (max-width: 992px) {
	.cc-header {
		height: 40px;
	}
}

@media only screen and (max-width: 768px) {
	.cc-header {
		height: 30px;
	}
}

a {
	display: flex;
	align-items: center;
}
.cc-header {
	padding: 5px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.cc-header .btn-default {
	padding: 3px 6px;
}

.cc-display-name {
	align-items: center;
	padding:  0 10px;
}

