@media only screen and (min-width: 1201px) {
	.cc-send-message-area {
		height: 40px;
	}

	.cc-chat-area {
		height: 490px;
	}
}

@media only screen and (max-width: 1200px) {
	.cc-send-message-area {
		height: 40px;
	}

	.cc-chat-area {
		height: 490px;
	}
}

@media only screen and (max-width: 992px) {
	.cc-send-message-area {
		height: 30px;
	}

	.cc-chat-area {
		height: 450px;
	}
}

@media only screen and (max-width: 768px) {
	.cc-send-message-area {
		height: 20px;
	}

	.cc-chat-area {
		height: 350px;
	}
}

.cc-chat-area {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.cc-send-message-area {
	border-radius: 10%;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}


input#message {
	background:none;

}

.chat-container {
	display:block;
	width:100%;
}
.chat-container:nth-child(4) {
	opacity: .8;
}
.chat-container:nth-child(3) {
	opacity: .6;
}
.chat-container:nth-child(2) {
	opacity: .4;
}

.chat-container a {
	text-transform: uppercase;
	font-weight:bold;
	color:#816A98;
	font-size:.8em;
	letter-spacing:2px;
}

.chat-container p {
	background:#323035;
	padding:1.1em;
	color:white;
	margin: 5px 0 10px 0;
}
