::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

@media only screen and (min-width: 1201px) {
	.cc-send-message-area {
		height: 40px;
	}

	.cc-chat-area {
		height: 490px;
	}
}

@media only screen and (max-width: 1200px) {
	.cc-send-message-area {
		height: 40px;
	}

	.cc-chat-area {
		height: 490px;
	}
}

@media only screen and (max-width: 992px) {
	.cc-send-message-area {
		height: 30px;
	}

	.cc-chat-area {
		height: 450px;
	}
}

@media only screen and (max-width: 768px) {
	.cc-send-message-area {
		height: 20px;
	}

	.cc-chat-area {
		height: 350px;
	}
}

.cc-chat-area {
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
	padding-top: 5px;
	/*
    justify-content: flex-end;
    */
}

.cc-send-message-area {
	border-radius: 10%;
	width: 90%;
	margin: 5%;
}

.cc-send-message-area:last-child {
}


input#message {
	background:none;

}

.chat-container {
	display:block;
	width:100%;
	vertical-align: middle;
}
.chat-container:nth-child(4) {
	opacity: .8;
}
.chat-container:nth-child(3) {
	opacity: .6;
}
.chat-container:nth-child(2) {
	opacity: .4;
}

.chat-container strong {
	display: inline-block;
	float: left;
	text-transform: uppercase;
	font-weight:bold;
	font-size:.8em;
	letter-spacing:2px;
	padding: 5px 5px 0 0;
}

