<div class="ar-pageable-list">
	<div class="cc-table-header">
		<span style="min-width: 2%">Rank</span>
		<span style="min-width: 3%"></span>
		<span style="min-width: 13%">Name</span>
		<span style="min-width: 7%">Symbol</span>
		<span style="min-width: 18%">Market Cap</span>
		<span style="min-width: 10%">Price(USD)</span>
		<span style="min-width: 18%">Available Supply</span>
		<span style="min-width: 18%">Volume(USD-24h)</span>
		<span style="min-width: 12%">Change(1h)</span>
	</div>

	<ar-list [items]="items"
			 [listItemTemplateRef]="listItemTemplateRef"
			 [selectable]="selectable"
			 [selected]="selected"
			 (click)="click.emit( $event )"
			 (selectionChanged)=" selectionChanged.emit( $event ) ">
	</ar-list>

	<!--<div class="bottom-controls">
		<ar-paginator [actualPage]="actualPage"
					  [totalPage]="totalPage"
					  [firstAndLastButtonVisible]="firstAndLastButtonVisible"
					  [prevAndNextButtonVisible]="prevAndNextButtonVisible"
					  [pageRangeWidth]="pageRangeWidth"
					  (pageChanged)="pageChanged.emit( $event )">
		</ar-paginator>

		<span *ngIf="totalItems !== undefined">
			Total items: {{ totalItems }}
		</span>

		<span>
			<label> Items per page:</label>
			<select [ngModel]="itemsPerPage"
					(ngModelChange)="onItemsPerPageChanged( $event )">
				<option *ngFor="let pageSize of pageSizes" [value]="pageSize">{{pageSize}}</option>
			</select>
		</span>
	</div>-->

</div>
