span {
	display: flex;
	justify-content: center;
}

.ar-pageable-list {

	.cc-table-header {
		display: flex;
		align-items: center;
		padding-left: 20px;
		height: 30px;
	}

	.bottom-controls {
		display: flex;
		align-items: center;
		margin: 10px 20px;

		& > * {
			margin-right: 10px;
		}
	}
}
