@media only screen and (min-width: 1201px) {
	.cc-table-header {
		height: 60px;
	}
}

@media only screen and (max-width: 1200px) {
	.cc-table-header {
		height: 60px;
	}
}

@media only screen and (max-width: 992px) {
	.cc-table-header {
		height: 50px;
	}
}

@media only screen and (max-width: 768px) {
	.cc-table-header {
		height: 40px;
	}
}




span {
	display: flex;
	justify-content: center;
}

.ar-pageable-list {

	.cc-table-header {
		display: flex;
		align-items: center;
		padding: 0 20px;
		border: 2px solid black;
	}

	.bottom-controls {
		display: flex;
		align-items: center;
		margin: 10px 20px;

		& > * {
			margin-right: 10px;
		}
	}
}
