<div class="cc-the-page cc-background-color">
	<cc-header [user]="user$ | async"
			   (login)="onLogin()"
			   (logout)="onLogout()"
			   (register)="onRegister()">
	</cc-header>
	<div class="cc-title">
		{{title}}
	</div>
	<div class="container">
		<div class="row">
			<div class="cc-main-area col-xs-12 col-sm-12 col-md-8 col-lg-8">
				<app-coin-grid></app-coin-grid>
			</div>
			<div class="cc-side-area-chat hidden-xs hidden-sm col-md-4 col-lg-4">
				<app-chatwindow></app-chatwindow>
			</div>
		</div>
	</div>
</div>
