<app-filter></app-filter>
<div class="ar-ex-pageable-list">

	<ar-pageable-list [items]="coinsShown | async"
					  [listItemTemplateRef]="itemTpl"
					  [totalPage]="totalPages"
					  [totalItems]="allItemsLength"
					  [actualPage]="pageNumber"
					  [pageRangeWidth]="3"
					  [itemsPerPage]="itemsPerPage"
					  (itemsPerPageChanged)="onItemsPerPageChanged( $event )"
					  (pageChanged)="onPageChanged( $event )"
	></ar-pageable-list>

	<ng-template #itemTpl let-item let-isSelected="isSelected">
		<div [attr.title]="isSelected ? 'click to close' : 'click to open' ">
			<span>{{ item.rank }} - </span>
			<span>{{ item.name }} - </span>

			<span [ngClass]="{ emptyStock: true }" >stock:</span>
			<div class="ar-list-item-opened" *ngIf="isSelected">
				<div class="emptyStock" *ngIf="true">Sadly this item is out of stock</div>
			</div>
		</div>
	</ng-template>

</div>
